*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #343F4F;
}

.maiqxx-container{
    display: flex;
    text-align: center;

}

.maiqxx-container .maiqxx-static-text{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}

.maiqxx-container .maiqxx-dynamic-text{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;

}

.maiqxx-dynamic-text li {
    color: rgb(115, 123, 236);
    list-style: none;
    font-size: 60px;

    position: relative;
    top: 0;
    font-weight: 500;
    animation: slide 12s steps(4) infinite;

}

@keyframes slide{
    100%{
        top: -360px;
    }
}

.maiqxx-dynamic-text li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}
.maiqxx-dynamic-text li span::after{
    content: "";
    position: absolute;
    height: 100%;
    background: #343F4F;
    left: 0;
    width: 100%;
    border-left: 2px solid rgb(115, 123, 236);
    animation: typing 3s steps(10) infinite;

}
@keyframes typing{
    40%, 60%{
        left: calc(100% + 30px);
    }
    
    100%{
        left: 0;
    }
}